<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\" \"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>8GU56HJ87W</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>co.codeminer.circMarket</key>
        <string>Circ Marketplace</string>
    </dict>
    <key>signingCertificate</key>
    <string>iPhone Distribution: Arshman Afzal (8GU56HJ87W)</string>
</dict>
</plist>